*{
    box-sizing: border-box;
    font-family: '標楷體';
}

.main,
.top,
/* .mid, */
.footer,
/* .left, */
/* .right, */
.menu,
.update,
.marquee,
.contect{
border: 1px solid #000;
margin: auto;
text-align: center;
}



.main{
width: 1000px;
height: 768px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 0 -2px;

}
.top{
width: 1000px;
height: 65px;
}
.mid{
display: flex;
justify-content: space-between;
flex-grow: 1;

}
.footer{
width: 1000px;
height: 20px;
}
.left{

    width: 215px;
display: flex;
flex-direction: column;
}
.right{
    width: calc(1000px - 215px);
    /* width: 770px; */
    display: flex;
    flex-direction: column;

}
.menu{
    width: 215px;
    flex-grow: 1;
}

.menu > .title {
    display: inline-flex;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #000;
    font-weight: 500;
    padding-top: 30px;
    color: #f0f;

}
.menu > a {
    font-size:16px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    color: #f0f;
    background: url(./material/menu1.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 10px;
    margin: 5px;
    color: #000;

}
.menu > a:hover {
    background: url(./material/menu2.png);
    background-repeat: no-repeat;
    background-size: auto;
}


.update{
    width: 215px;
height: 25px;

}
.marquee{
    width: calc(1000px - 215px);
    /* width: 770px; */
height: 29px;
font-size: 24px;
color: #0000FF;

}
.contect{
    width: calc(1000px - 215px);
    /* width: 770px; */
flex-grow: 1;
}

iframe{
    width: 100%;
    height: 100%;
}

.nolink {
    text-decoration: none;
}